html, body{overflow: hidden;}

.usernameCanvas{background: url('../img/.jpg') top / 100% no-repeat;}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#5c9900;
    background-image: url(../img/wallpaper1.jpg)	
}
/******************************
 SLIDE 2 *******************************/
#slide2{
	background-color:#005c99;
	background-image: url(../img/wallpaper2.jpg)	
}

}
#slide2 img:first-child{
	position:absolute;
top: 700px;
left: -150px;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:300px;
	left:100px;
}
#slide2 img:nth-child(3){
	position:absolute;
	top:600px;
	left:300px;
}
#slide2 img:nth-child(4){
	position:absolute;
	top:400px;
	left:300px;
}
#slide2 img:nth-child(5){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(6){
	position:absolute;
	top:600px;
	right:300px;
}
#slide2 img:nth-child(7){
	position:absolute;
	top:400px;
	right:100px;
}
#slide2 img:nth-child(8){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#b6c10b;
    background-image: url(../img/wallpaper3.jpg)	
}

}
#slide3 img:first-child{
	position:absolute;
top: 700px;
left: 300px;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:100px;
	left:100px;
}
#slide3 img:nth-child(3){
	position:absolute;
	top:150px;
	left:300px;
}
#slide3 img:nth-child(4){
	position:absolute;
	top:450px;
	left:300px;
}
#slide3 img:nth-child(5){
	position:absolute;
	top:200px;
	right:300px;
}
#slide3 img:nth-child(6){
	position:absolute;
	top:100px;
	right:300px;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image: url(../img/wallpaper4.jpg);
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}


/*#topbar{
	background-color:#1abc9c;
	padding-top: 15%;
}

#containerMain{
	background-color: #e74c3c;
	color: white;
	font-size: 16px;
		
}
#dashboardtopbar{
	padding-top: 10%;
	background-image: url('../img/background.png');
}
#dashboardMain{
	background-image: url('../img/background.png');
	color: white;
	font-size: 16px;
	padding-bottom: 10%;
	overflow: hidden;

}
#formlogin{
	overflow: hidden;
	margin-top: 5%;
	margin-left: 40%;
	margin-right: 5%;
	max-width: 50%;
	min-width: 25%;
	background-color: #1abc9c;
	margin-bottom: 20%;
	opacity: 0.9;
	overflow: hidden;
}

#label1{
	text-align: center;
	margin-top: 10%;
}
#label2{
	text-align: center;
	margin-top: 2%;
}
#buttons{
	padding-left: 10%;
	padding-top: 5%;
	overflow: hidden;
}

footer{
	padding-bottom: 5%;
	background-color:#34495e;
	overflow: hidden;
}*/