html, body{overflow: hidden;background-image: url('../img/background.png');}

#topbar{
	background-color:#1abc9c;
	padding-top: 15%;
}

#containerMain{
	background-color: #e74c3c;
	color: white;
	font-size: 16px;
		
}
#dashboardtopbar{
	padding-top: 10%;
	background-image: url('../img/background.png');
}
#dashboardMain{
	background-image: url('../img/background.png');
	color: white;
	font-size: 16px;
	padding-bottom: 10%;
	overflow: hidden;

}
#formlogin{
	overflow: hidden;
	margin-top: 5%;
	margin-left: 40%;
	margin-right: 5%;
	max-width: 50%;
	min-width: 25%;
	background-color: #1abc9c;
	margin-bottom: 20%;
	opacity: 0.9;
	overflow: hidden;
}

#label1{
	text-align: center;
	margin-top: 10%;
}
#label2{
	text-align: center;
	margin-top: 2%;
}
#buttons{
	padding-left: 10%;
	padding-top: 5%;
	overflow: hidden;
}

footer{
	padding-bottom: 5%;
	background-color:#34495e;
	overflow: hidden;
}